.main {
    display: flex;
}

#cat {
    flex: 1;
    font-size: 1.5vw;
    background:linear-gradient(90deg );
}

#cat:active {
    border-bottom: 0.2vw solid red;
}

#cat:focus {
    border-bottom: 0.2vw solid red;
}



#cat:hover {
    text-decoration: none;
}

.heading {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.heading:hover {
    text-shadow: 1vw 1vw 2vw red;
    border-bottom: 0.2vw solid red;
}

button:active {
    border: 0;
    box-shadow: none;
}


.properties {
    
    border-color: black;
    border-width: 1vw;
    display:block;
    /* flex-direction: column; */
    background-color: #fff;
    border-radius: 4vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 2vh 2vw;
    width:fit-content;
    max-width: 100%;
    height: fit-content;
    }


.property {
    display:inline-block;
    justify-items: center;
    background-color: #fff;
    
    box-shadow: 0 0 0.75vw rgb(5, 0, 0);
    border-radius: 4vw;
    margin: 0.75vw;
    padding: 3vh 3vh;
    height: fit-content;
    width: 31.44%;
    /* padding:auto; */
}

.info_items{
    display:flex;
    border-radius: 2vw;
    overflow: hidden;
    height: fit-content;
    box-sizing: border-box;
    width: 100%;
    font-family: cursive;
    font-weight: 1000;
}
.imgs{
    border: 0.2vw solid rgb(6, 4, 40);;
    border-radius: 2vw;
    display:inline-flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 35vh;
    margin-bottom: 3%;
}

.imgs>img{
    width: 100%;
    object-fit:fill;
}

property>a{
    width: fit-content;
    height: fit-content;
}

#details_button:active{
   transform: scale(0.95);
}

#details_button{
    text-decoration:none;
    display:flex;
    margin: 3% auto;
    /* margin:auto; */
    padding:auto;
    height: 2.5vw;
    text-align: center;
    justify-content: center;
    font-size: 1.5vw;;
    color:white;
    width: 10vw;
    border-radius: 1vw;
    background:linear-gradient(90deg,rgb(0, 0, 0),rgb(36, 150, 43),rgb(98, 0, 255),rgb(0, 0, 0));
}



@media only screen and (max-width: 600px) {
    
.properties {
    
    border-color: black;
    border-width: 1vw;
    display:block;
    /* flex-direction: column; */
    background-color: #fff;
    border-radius: 4vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 2vh 2vw;
    width:fit-content;
    max-width: 100%;
    height: fit-content;
    }


.property {
    display:inline-block;
    justify-items: center;
    background-color: #fff;
    
    box-shadow: 0 0 0.75vw rgb(5, 0, 0);
    border-radius: 4vw;
    margin: 0.75vw;
    padding: 3vh 3vh;
    height: fit-content;
    width: 100%;
    /* padding:auto; */
}

.info_items{
    display:flex;
    border-radius: 2vw;
    overflow: hidden;
    height: fit-content;
    box-sizing: border-box;
    width: 100%;
    font-family: cursive;
    font-weight: 1000;
}
.imgs{
    border: 0.2vw solid rgb(6, 4, 40);;
    border-radius: 2vw;
    display:inline-flex;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 15vh;
    margin-bottom: 3%;
}

.imgs>img{
    width: 100%;
    object-fit:fill;
}

property>a{
    width: fit-content;
    height: fit-content;
}

#details_button:active{
   transform: scale(1.7);
}

#details_button{
   transform: scale(1.75);
}

  }