.main {
    display: flex;
}

#cat {
    flex: 1;
    font-size: 1.5vw;
}

#cat:hover {
    text-decoration: none;
}

#cat:active {
    border-bottom: 0.2vw solid red;
}

#cat:focus {
    border-bottom: 0.2vw solid red;
}

.heading:hover {
    position: relative;
    text-shadow: 1vw 1vw 2vw red;
    border-bottom: 0.2vw solid red;
}

.heading {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.properties {
    border-color: black;
    border-width: 1vw;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 2vh 2vw;
    overflow:auto;
    width:auto;
    height: fit-content;
    }


.property {
    justify-items: center;
    background-color: #fff;
    box-shadow: 0 0 0.75vw rgb(5, 0, 0);
    border-radius: 2vh;
    margin: 0.75vw;
    padding: 3vh 3vh;
    /* padding:auto; */
}

@media only screen and (max-width: 600px) {
    .properties {
        border-color: black;
        border-width: 1vw;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 2vh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        margin: 2vh 2vw;
        overflow:scroll;
        width:auto;
        height: fit-content;
        }
    
    
    .property {
        justify-items: center;
        background-color: #fff;
        box-shadow: 0 0 0.75vw rgb(5, 0, 0);
        border-radius: 2vh;
        margin: 0.75vw;
        padding: 3vh 3vh;
        /* padding:auto; */
    }
    .main{
        display: flex;
        height: 5vh;
    }
  }