.full_details{
    display:flex;
    background-color: aquamarine;
}
.part1{
    max-width: fit-content;
    background-color: blue;
    flex:1;
    padding:2vw;
}
.part2{
    background-color: red;
    flex:1;
    padding: 2vw;
}
.options>button{
    margin: 2vh;
    border-radius: 1vw;
    height: 4vw;
    min-width: fit-content;
    width: 10vw;
    font-size: 1.5vw;
}

.options>button:hover{
    background-color: brown;
}


body {
	background: linear-gradient(-45deg, #17046d, #ad6705, #0a0113, #e50909);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2021/08/20/14/53/monastery-6560623_960_720.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}


