.myform{
    background: rgba(0,0,0, 0.5);
}



.myform>form>div>input {
    background:rgba(108, 107, 109,0.3);
    /* opacity: 0.2; */
    /* border: 0.003vw  rgba(0,0,0,1); */
    border-radius: 1vw;
    border-style: groove;
    color:white;
}

.myform>form>div>label {
    color: white;
    text-shadow: 0 0 0.1vw #000000;
    font-weight: 10;
}

.myform>form>div{
    display:flexbox;
    width:100%;
}

.myform>input {
    display: block;
    border-radius: 5%;
    color: aliceblue;
    float: right;
}


.myform>form {
    /* background-color: aquamarine; */
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    display: flexbox;
    box-sizing: border-box;
    width: fit-content;
    min-height: fit-content;
    flex-direction: column;
    background: rgba(0,0,0,0.5);
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:0.05vw solid black;
    box-shadow:  1px 2px 25px black, 0 0 25px rgb(155, 155, 165);
    padding: 5vw;
    border-radius: 10%;
    
}

.myform>form>div {
    box-sizing: border-box;
}

