.full_details {
    display: flex;
    flex-direction: row;
}

.left_side {
    display: flexbox;
    flex-direction: column;
    width: 60vw;
}

.right_side {
    display: flexbox;
    flex-direction: column;
    flex: 1;
}

.part1 {
    display: flexbox;
    width: 100%;
    overflow: hidden;
    /* height: 50vh; */
}
.part1:hover{
    box-shadow: 0 0 5vw rgb(5, 0, 0);
}

.part1>img {
    /* object-fit:fill; */
    width: 100%;
    max-height: 60vh;
}


.options button {
    margin: 2vh;
    border-radius: 1vw;
    height: 4vw;
    min-width: fit-content;
    width: 10vw;
    font-size: 1.5vw;
    background: none;
    border: none;
    background: rgb(0, 0, 0, 0.4);
    cursor: pointer;
}

.options button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: antiquewhite;
}


body {
    /* background: linear-gradient(-45deg, #17046d, #ad6705, #0a0113, #e50909); */
    /* background-image: url("https://cdn.pixabay.com/photo/2017/08/03/15/38/architecture-2576906_640.jpg"); */
    background: url("https://cdn.pixabay.com/photo/2017/08/03/15/38/architecture-2576906_640.jpg") no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
     background-size: cover; 
    background-clip: border-box;
}