<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'bricks/style_home.css' %}" />

  <title>home</title>
</head>

<body>
    {% include "bricks/navbar.html" %}
  
  

  <div class="main">
    {% if y %} {% for x in y %}
    <a href="{% url 'properties' %}?category={{x.id}}" id="cat">
      <div class="heading">{{x.cat}}</div>
    </a>
    {% endfor %} {% endif %}
  </div>

  <div class="properties" >
    {% if obj %} {% for y in obj %}
    <div  class="property">
      <div class="imgs"><img  src="{{y.image.url}}" alt=""></div>
      <div class="info_items">On - {{y.cat}}</div>
      <div class="info_items">Area - {{y.area}}</div>
      <div class="info_items">Land Type - {{y.land_type}}</div>
      {% if y.cat.cat == "Rent" or y.cat.cat == "On_lease" %}
      <div class="info_items">Monthly Rent - &#8377 {{y.price}}</div>
      {% else %}
      <div class="info_items">Price - &#8377 {{y.price}}</div>
      {% endif %}

      <a href="{% url 'property_details' y.id %}?p_type={{y.p_type}}" id="details_button">
        <div id="details_button">
          Get Details
        </div>
      </a>
    </div>
    {% endfor %}
    {% endif %}

    {% if obj2 %}
    {% for y in obj2 %}
    <div  class="property">
      <div class="imgs"><img  src="{{y.image.url}}" alt=""></div>
      <div class="info_items">On - {{y.cat}}</div>
      <div class="info_items">Area - {{y.area}}</div>
      <div class="info_items">Age of Construction - {{y.age}}</div>
      {% if y.cat.cat == "Rent" or y.cat.cat == "PG" %}
      <div class="info_items">Monthly Rent - &#8377 {{y.price}}</div>
      {% else %}
      <div class="info_items">Price - &#8377 {{y.price}}</div>
      {% endif %}
      <a href="{% url 'property_details' y.id %}?p_type={{y.p_type}}" id="details_button">
        <div id="details_button">
          Get Details
        </div>
      </a>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% if boj or obj2 %}
    
    {% else %}
    <style>
      .properties{
        display:none;
      }
    </style>
    <div class="property">
      <h1>No Record Found</h1>
    </div>      
    {% endif %}
</body>

</html>