<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'bricks/style_home.css' %}" />

    <title>home</title>
  </head>
  <body>
    {% include "bricks/navbar.html" %}
    <h1>Welcome to home page</h1>

    <div class="main">
      {% if y %} {% for x in y %}
      <a href="{% url 'properties' %}?category={{x.id}}" id="cat">
        <div class="heading">{{x.cat}}</div>
      </a>
      {% endfor %} {% endif %}
    </div>
  </body>
</html>
