<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-light justify-content-between" style="
  display:block;
        background: linear-gradient(
          90deg,
          #000,
          #000,#00ffff,
          #1c36da,
          #4b87dc,
          #006600,
          #32040b
        );
        animation: gradient 15s ease infinite;

        
      ">
    <a class="navbar-brand" style="color:white;">Magical Bricks</a>

    {%if user.is_authenticated%}
    <a class="btn btn-primary" type="submit" id="login" href='{%url 'logout_user' %}'
      style="width:fit-content; float:right;">logout</a>
    <p class="px-2 mt-2" style="width:fit-content; float:right; color:white;">Welcome {{user.email}}</p>
    {% else %}
    {% comment %} <a class="btn btn-outline-success right-align" href="/login/" id="login" style="float:inline-end;">Log
      in</a> {% endcomment %}
    <button id="login" type="button" class="btn btn-outline-success right-align" data-toggle="modal"
      data-target="#login_div" style="float:inline-end;cursor: pointer;">
      Login
    </button>
    <button id="login" type="button" class="btn btn-outline-success right-align" data-toggle="modal"
      data-target="#signup_div" style="float:inline-end;cursor: pointer;">
      Signup
    </button>
    {% endif %}

    <style>
      #s_button {
        height: 100%;
      }

      @media only screen and (min-width:600px) {
        #search_form {
          float: inline-end;
        }
      }

      @media only screen and (max-width:600px) {
        #search_form>input {
          flex: 1;
        }

        form {
          width: 100%;
          display: flex;
        }

        #search_form>button {
          width: fit-content;
        }
      }
    </style>


    <form class="form-inline" id="search_form">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="
          color:white;
          background: rgba(103,48,167,0.5);
          " />

      <button class="button " class="btn btn-primary" type="submit" id="s_button">
        Search
      </button>
    </form>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" z-index: 0>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="built_details">Now<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="land_details">Can</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Use</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:white;">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>
  <!-- Modal -->
  <div class="modal fade" style="-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);
  " id="login_div"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background: none;background:rgba(4,1,0,0.3);">
        <div class="modal-header" style="background: linear-gradient(
        90deg,
        #000,
        #000,#00ffff,
        #1c36da,
        #4b87dc,
        #006600,
        #32040b
      );">
          <h5 style="font-size: 3vw;color: #fff;" class="modal-title" id="exampleModalLongTitle">Login to Your Account
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method='post'>
            {% csrf_token %}
            <div style="color: #fff;font-size: 1.5vw;">
            {{login_form}}</div>
            <div class="modal-footer">
              <button style="cursor: pointer;" type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
              <button style="cursor: pointer;" type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" 
  style="-webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);" 
  id="signup_div"
    tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background: none;background:rgba(4,1,0,0.3);">
        <div class="modal-header" style="background: linear-gradient(
          90deg,
          #000,
          #000,#00ffff,
          #1c36da,
          #4b87dc,
          #006600,
          #32040b
        );">
          <h5 style="font-size: 3vw;color: #fff;" class="modal-title" id="exampleModalLongTitle">Create your Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div style="font-size: 1.5vw;color: #fff;">
            {{signup_form}}</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Signup</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
<style>
  #signup_div{
    border-radius:20%;
    
  }
</style>
</body>

</html>