<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="properties">
      {% if obj %} {% for y in obj %}
        
        <div class="property">
          <div class="info_items"><img src="{{y.images.url}}" alt=""></div>
          <div class="info_items">On - {{y.cat}}</div>
          <div class="info_items">Area -  {{y.area}}</div>
          <div class="info_items">Land Type - {{y.land_type}}</div>
          {% if y.cat.cat == "Rent" or y.cat.cat == "PG" %}
            <div class="info_items">Monthly Rent - &#8377 {{y.price}}</div>
          {% else %}
            <div class="info_items">Price - &#8377 {{y.price}}</div>
          {% endif %}
          <button id="details_button">Get Details</button>
        </div>
      {% endfor %}
      {% endif %}
      
      {% if obj2 %}
      {% for y in obj2 %}
        <div class="property">
          <div class="info_items"><img src="{{y.images.url}}" alt=""></div>
          <div class="info_items">On - {{y.cat}}</div>
          <div class="info_items">Area -  {{y.area}}</div>
          <div class="info_items">Age of Construction - {{y.age}}</div>
          {% if y.cat.cat == "Rent" or y.cat.cat == "PG" %}
            <div class="info_items">Monthly Rent - &#8377 {{y.price}}</div>
          {% else %}
            <div class="info_items">Price - &#8377 {{y.price}}</div>
          {% endif %}          
          <button id="details_button">Get Details</button> 
        </div>
      {% endfor %}
     {% endif %}
    </div>
    
  </body>
</html>
